html {
  font-family: 'Open Sans', sans-serif;
  background: #f6f6f6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 15px 50px;

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    text-transform: capitalize;
    font-family: 'Tilt Warp', cursive;
    color: #29a0f5;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
    color: #1b2534;
  }
}

select {
  cursor: pointer;
}
